# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.db
ringscheduler.log
logs/
config.json
*.zip

# Audio uploads
uploads/*
!uploads/.gitkeep

# Temporary voice messages from Telegram
voice_messages/

# Music files
music/
